@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

@layer base {
  :root {
    --color-bg: #fff8e1;
    --color-bg-secondary: #ffd54f;
    --color-header: #d98200;
    --color-primary: #ffc107;
    --color-primary-hover: #ffb300;
    --color-text-button: #2c2c2c;
    --color-text: #2c2c2c;
    --color-text-secondary: #f5f5f5;
    --color-accent: #ff8a50;
  }

  @media (prefers-color-scheme: light) {
    :root {
      --color-bg: #1e1e1e;
      --color-bg-secondary: #ffca28;
      --color-header: #333333;
      --color-primary: #ffc107;
      --color-primary-hover: #ffca28;
      --color-text-button: #2c2c2c;
      --color-text: #f5f5f5;
      --color-text-secondary: #2c2c2c;
      --color-accent: #ff7043;
    }
  }

  body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'Quicksand', sans-serif;
  }

  header {
    background-color: var(--color-header);
  }

}